@import url("./general.css");

.container {
  max-width: 100vw;
  height: 40vh;
  background: #132da0;
  display: flex;
  align-items: center;
}

.header__greeting {
  font-size: 2em;
  color: #fff;
  margin-left: 1em;
  letter-spacing: 1px;
}

.card__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 960px;
  margin: 1.2em 10px 1em;
}

.card__container a {
  margin: 2em auto;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 8em;
  width: 17em;
  padding: 5px 15px;
  margin: 0.9em auto;
  background-color: #132da0;
  color: white;
  border-radius: 15px;
  box-shadow: 1px 5px 10px #333;
}

.card:hover {
  transform: scale(1.1);
}

.card__icon {
  font-size: 2em;
  position: relative;
  top: -5px;
}

.card__title {
  position: relative;
  top: 15px;
  letter-spacing: 1px;
  margin: 0 3px;
}

@media (min-width: 768px) {
  .card__container {
    flex-direction: row;
    justify-content: center;
    margin: 5em auto;
  }
  .card {
    margin: auto 1em;
  }
}
